.footer {
  background-color: $black-footer;
  color: $white;
  padding-top: 89px;
  padding-bottom: 58px;

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: $white;
    text-decoration: none;
  }
}

.footer__wrapper {
  padding-left: 45px;
  padding-right: 45px;
  margin: auto;
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__email {
  position: relative;
}

.footer__call-back {
  width: 42.5%;

  p:first-child {
    font-family: "Cormorant Garamond", "Georgia", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.75px;
    margin: 0;
  }

  p:not(:first-child) {
    font-size: 16px;
    line-height: 130%;
    color: $gray;
    margin-top: 11px;
    margin-bottom: 40px;
  }

  input {
    width: 80%;
    background-color: transparent;
    border-bottom: 1px solid $white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 12px;
    padding-right: 20%;
  }

  label {
    position: relative;
  }

  button {
    position: absolute;
    right: 2px;
    bottom: 9px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $white;
    background-color: transparent;
    border: none;
    padding-right: 41px;

    &::after {
      position: absolute;
      width: 29px;
      height: 9px;
      content: "";
      background-image: url("../img/right-white.svg");
      right: -5px;
      top: 6px;
    }
  }
}

.footer__menu {
  width: 41%;

  ul {
    padding: 0 0 0 63px;
    column-count: 2;
    column-gap: 72px;
    margin-top: 7px;
  }

  li {
    white-space: nowrap;
    list-style: none;
    margin-bottom: 22px;
  }
}

.footer__social {
  ul {
    margin-top: 5px;
  }

  li {
    padding-left: 10px;
    margin-bottom: 19px;
  }
}

.footer__social-item {
  &--facebook {
    list-style: url("../img/icon-facebook-white.svg");
  }

  &--instagram {
    list-style: url("../img/icon-instagram-white.svg");
  }

  &--pinterest {
    list-style: url("../img/icon-pinterest-white.svg");
  }

  &--twitter {
    list-style: url("../img/icon-twitter-white.svg");
  }
}

@media (max-width: $tablet) {
  .footer {
    padding-top: 51px;
  }

  .footer__wrapper {
    padding-left: 45px;
    padding-right: 45px;
    max-width: 572px;
    margin-left: 0;
    margin-right: auto;
  }

  .footer__call-back {
    width: 100%;

    input {
      width: 77%;
    }
  }

  .footer__menu {
    width: 74%;

    ul {
      padding: 0;
      margin-top: 45px;
      column-gap: 86px;
    }
  }

  .footer__social {
    ul {
      margin-top: 43px;
      padding-left: 0;
    }

    li {
      margin-left: 12px;
    }
  }
}

@media (max-width: $mobile) {
  .footer {
    padding-top: 50px;
  }

  .footer__wrapper {
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
  }

  .footer__call-back {
    p {
      width: 80%;
      margin-top: 19px;
      line-height: 22px;

      &:not(:first-child) {
        line-height: 22px;
        margin-top: 13px;
        margin-bottom: 37px;
      }
    }

    button {
      right: 3px;
      bottom: 9px;
    }
  }

  .footer__menu {
    ul {
      margin-top: 47px;
      column-count: 1;
    }

    li {
      margin-bottom: 22px;

      &:nth-child(4n) {
        margin-bottom: 42px;
      }
    }
  }

  .footer__social {
    ul {
      display: grid;
      grid-template-columns: repeat(5, min-content);
      column-gap: 30px;
      padding: 0;
      margin-top: -13px;
    }

    li {
      list-style: none;
      margin-left: 0;
      padding: 0;
    }

    a {
      font-size: 0;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .footer__social-item {
    &--facebook a {
      width: 12px;
      height: 21px;
      background-image: url("../img/icon-facebook-white.svg");
    }

    &--instagram a {
      width: 20px;
      height: 21px;
      background-image: url("../img/icon-instagram-white.svg");
    }

    &--pinterest a {
      width: 20px;
      height: 21px;
      background-image: url("../img/icon-pinterest-white.svg");
    }

    &--twitter a {
      width: 20px;
      height: 21px;
      background-image: url("../img/icon-twitter-white.svg");
    }
  }
}
