.blog {
  margin-top: 116px;

  h2 + a {
    margin-top: 19px;
    padding-bottom: 4px;
  }
}

.blog__wrapper {
  margin: auto;
  max-width: 1170px;
  padding-left: 45px;
  padding-right: 45px;
}

.blog__list {
  margin-top: 60px;
  padding: 0;
  display: grid;
  row-gap: 30px;
  column-gap: 2.5%;
  grid-template-columns: repeat(2, 48.8%);
  grid-auto-rows: 300px;
}

.blog__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }

  picture {
    overflow: hidden;
    width: 50%;
    height: 100%;
  }

  &:nth-child(3n) {
    grid-area: 2 span;
    order: -1;
    position: relative;

    div {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-bottom: 104px;
    }

    picture {
      width: 100%;
    }
  }

  &:first-child {
    order: -1;
  }

  &:nth-child(2n) {
    picture {
      order: 1;
    }
  }
}

.blog__item-meta {
  width: 50%;
  background-color: $light;
  text-align: center;
  z-index: 1;

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: $gray;
    padding-top: 53px;
  }

  h3 {
    font-family: "Cormorant Garamond", "Georgia", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: $black-footer;
    width: 60%;
    margin: auto;
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $black;
    display: block;
    width: min-content;
    text-decoration: none;
    white-space: nowrap;
    margin: 39px auto 0 auto;
    border-bottom: 1px solid $main-color;
    padding-bottom: 4px;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: $tablet) {
  .blog {
    margin-top: 66px;
  }

  .blog__list {
    row-gap: 50px;
    grid-template-columns: 100%;
  }

  .blog__item {
    max-height: 300px;

    img {
      width: 100%;
      height: 100%;
    }

    &:nth-child(3n) {
      grid-area: initial;
      order: initial;
      position: initial;

      p {
        padding-top: 69px;
      }

      div {
        position: initial;
      }

      picture {
        width: 50%;
      }
    }
  }

  .blog__item-meta {
    h3 {
      width: 163px;
    }
  }
}

@media (max-width: $mobile) {
  .blog {
    margin-top: 75px;
  }

  .blog__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .blog__list {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 51px;
    flex-direction: column;
  }

  .blog__item {
    height: min-content;
    max-height: none;
    flex-direction: column;

    picture {
      height: 50%;
      max-height: 256px;
      width: 100%;
    }

    div {
      width: 100%;
      height: 50%;
      max-height: 269px;
      padding-bottom: 49px;
    }

    &:nth-child(3n) {
      picture {
        width: 100%;
        max-height: 256px;
      }

      p {
        padding-top: 47px;
      }

      div {
        padding-bottom: 66px;
      }
    }

    &:nth-child(2n) {
      picture {
        order: -1;
      }
    }
  }

  .blog__item-meta {
    p {
      padding-top: 31px;
    }
  }
}
