.gallery {
  margin-top: 107px;
}

.gallery__head {
  h2 {
    letter-spacing: 1px;
  }

  a {
    padding-top: 8px;
    padding-bottom: 3px;
  }
}

.gallery__wrapper {
  max-width: 1170px;
  margin: auto;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 148px;
}

.gallery__grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 19.7% 34% 19.7% 19.7%;
  grid-auto-rows: 230px 150px;
  row-gap: 9%;
  column-gap: 27px;
  padding: 0;
  max-width: 100%;

  .gallery__item {
    &--big {
      grid-area: 2 span;
    }
  }

  li {
    list-style: none;
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: $tablet) {
  .gallery {
    margin-top: 76px;
  }

  .gallery__head {
    a {
      padding-top: 0;
    }
  }

  .gallery__wrapper {
    padding-bottom: 80px;
  }

  .gallery__grid {
    display: grid;
    grid-template-columns: 133px 231px 133px 133px;
    grid-auto-rows: 133px 87px;
    row-gap: 20px;
    column-gap: 16px;
    padding: 0;
    width: min-content;
    margin: 59px auto 0 auto;

    img {
      max-width: 100%;
    }
  }
}

@media (max-width: $mobile) {
  .gallery {
    margin-top: 61px;
  }

  .gallery__wrapper {
    padding-bottom: 71px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .gallery__grid {
    display: grid;
    grid-template-columns: repeat(2, 46%);
    grid-template-rows: 133px 87px 87px;
    grid-auto-rows: min-content;
    row-gap: 27px;
    column-gap: 8%;
    padding: 0;
    width: 100%;
    margin: 45px auto auto;
    max-height: 361px;
    overflow: hidden;

    .gallery__item {
      &--big {
        grid-area: 2 span;
        order: 2;
      }

      &--00 {
        order: 1;
      }

      &--01 {
        order: 7;
      }

      &--02 {
        order: 6;
      }

      &--03 {
        order: 3;
      }

      &--04 {
        order: 4;
      }

      &--05 {
        order: 5;
      }
    }

    li {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
