.catalog {
  max-width: 870px;
  min-width: 600px;
  width: 100%;
  padding-bottom: 73px;
  margin-top: 64px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 31%);
  column-gap: 3.5%;
  padding: 0;
  width: 100%;
}

.catalog__nav {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  margin-top: 35px;

  ul {
    display: flex;
    justify-content: center;
    gap: 13px;
    flex-wrap: wrap;
    max-width: 120px;
    margin: auto;
    padding: 0 32px 0 0;
  }

  li {
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
    color: #000000;
  }
}

@media (max-width: 1023px) {
  .catalog {
    margin-top: 34px;
    width: 100%;
  }

  .catalog__nav {
    margin-top: 30px;
  }
}

@media (max-width: $mobile) {
  .catalog {
    margin-top: 23px;
    min-width: auto;
    padding-bottom: 63px;
  }

  .catalog__list {
    grid-template-columns: repeat(2, 45%);
    column-gap: 10%;
    padding: 0;
  }

  .catalog__nav {
    margin-top: -1px;

    ul {
      max-width: none;
      gap: 23px;
      padding: 0;
    }

    > a {
      visibility: hidden;
      width: 0;
    }
  }
}
