.catalog {
  max-width: 870px;
  min-width: 600px;
  width: 100%;
  padding-bottom: 73px;
  margin-top: 64px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 31%);
  column-gap: 3.5%;
  row-gap: 38px;
  padding: 0;
  width: 100%;
  margin-bottom: 72px;

  a {
    &:hover {
      opacity: 0.7;
    }
  }

  li {
    max-height: 336px;
  }

  img {
    max-width: 100%;
  }

  picture {
    max-width: 100%;
  }
}

.catalog__nav {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  margin-top: 35px;

  ul {
    display: flex;
    justify-content: center;
    gap: 13px;
    flex-wrap: wrap;
    max-width: 120px;
    margin: auto;
    padding: 0 32px 0 0;
  }

  li {
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
    color: $black;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: 1023px) {
  .catalog__list {
    li {
      max-height: 272px;
    }

    img {
      height: 206px;
      width: 208px;
      margin-bottom: 8px;
    }
  }

  .catalog {
    margin-top: 34px;
    width: 100%;
  }

  .catalog__nav {
    margin-top: 30px;
  }
}

@media (max-width: $mobile) {
  .catalog {
    margin-top: 23px;
    min-width: auto;
    padding-bottom: 63px;
  }

  .catalog__list {
    grid-template-columns: repeat(2, 45%);
    column-gap: 10%;
    row-gap: 0;
    padding: 0;
    margin-bottom: 17px;

    li {
      max-height: 244px;
    }

    img {
      height: 130px;
      width: 130px;
      margin-bottom: 1px;
    }
  }

  .catalog__nav {
    max-width: 240px;
    margin: -1px auto auto;

    ul {
      max-width: none;
      gap: 23px;
      padding: 0;
    }

    > a {
      visibility: hidden;
      width: 0;
    }
  }
}
