.filter {
  width: 250px;
}

.form__wrapper {
  margin-top: 30px;
}

.filter__open-btn,
.filter__close-btn {
  visibility: hidden;
  border: 0;
  width: 0;
  height: 0;
  font-size: 0;
  padding: 0;
}

.filter__form {
  fieldset {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: $main-color;
    padding: 0;
    width: 99%;
    margin: 0;
  }

  fieldset:last-child {
    border-width: 1px 1px 1px 1px;
  }

  label {
    display: flex;
    flex-wrap: wrap;

    &:hover {
      opacity: 0.7;
    }
  }
}

.form__accordeon {
  margin-bottom: 35px;

  .close-accordeon {
    &::after {
      transform: rotate(0deg);
    }
  }

  button {
    cursor: pointer;
    letter-spacing: 0.76px;
    width: 100%;
    height: 67px;
    text-align: left;
    padding-left: 25px;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $black;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 8px;
      background-image: url("../img/accordeon.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      right: 23px;
      top: 28px;
      transform: rotate(180deg);
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.filter__block {
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $black;

  &--range {
    padding: 0;
  }

  input[type="checkbox"] {
    appearance: none;
    --webkit-appearance: none;
    --moz-appearance: none;
    margin-right: 20px;
  }

  label {
    cursor: pointer;
    position: relative;

    &:hover {
      opacity: 0.7;
    }
  }

  input:checked + .filter__check {
    background-color: $main-color;
  }

  input:focus + .filter__check {
    outline: 2px solid $black;
  }

  .filter__check {
    position: absolute;
    left: -2px;
    top: 2px;
    width: 14px;
    height: 13px;
    border: 1px solid $main-color;
  }

  label:not(:last-child) {
    margin-bottom: 12px;
  }
}


.filter__range-value {
  width: 200px;
  position: relative;

  label {
    position: absolute;
    flex-wrap: nowrap;
  }

  input {
    width: 23px;
    border: none;

    &:hover {
      opacity: 0.7;
    }
  }
}

.filter__range-value-min {
  left: 45px;

  input {
    --webkit-appearance: none;
    appearance: none;
    width: max-content;
  }
}

.filter__range-value-max {
  left: 135px;

  input {
    --webkit-appearance: none;
    appearance: none;
    width: max-content;
  }
}
// range
.filter__range-min,
.filter__range-max {
  background-color: $light;
  width: 200px;
  height: 1px;
  left: 0;
  position: absolute;
}

.filter__range-progress {
  background-color: $main-color;
  width: 200px;
  height: 1px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 5;
  display: block;
  pointer-events: none;

  label {
    margin-bottom: 0;
  }
}

.filter__range-slider {
  margin-top: 2px;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  width: 198px;
  height: 50px;
  float: left;
  text-align: center;

  input[type="range"] {
    pointer-events: none;
    position: absolute;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    border: none;
    border-radius: 0;
    background: transparent;
    overflow: hidden;
    top: -7.5px;
    width: 200px;
    outline: none;
    height: 15px;
    margin: 0;
    padding: 0;

    &:focus {
      outline: 2px solid $black;
    }

    &:hover {
      opacity: 0.7;
    }

    &::-webkit-slider-thumb {
      pointer-events: all;
      cursor: pointer;
      position: relative;
      z-index: 1;
      outline: 0;
      appearance: none;
      width: 15px;
      height: 15px;
      border: none;
      border-radius: 50%;
      background-color: $main-color;
    }

    &::-moz-range-thumb {
      pointer-events: all;
      position: relative;
      cursor: pointer;
      z-index: 10;
      appearance: none;
      width: 15px;
      height: 15px;
      border: none;
      border-radius: 50%;
      background-color: $main-color;
    }

    &::-ms-thumb {
      pointer-events: all;
      position: relative;
      z-index: 10;
      appearance: none;
      width: 15px;
      height: 15px;
      border: none;
      border-radius: 50%;
      background-color: $main-color;
    }

    &::-moz-range-track {
      position: relative;
      z-index: -1;
      background-color: $black;
      border: 0;
    }

    &:last-of-type::-moz-range-track {
      appearance: none;
      background: none transparent;
      border: 0;
    }

    &::-moz-focus-outer {
      border: 0;
    }
  }
}

.filter__range-min {
  top: 0;
  left: -7px;
}

.filter__range-max {
  top: -13px;
  left: 7px;
}

.form__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  width: 100%;
  height: 68px;
  margin-bottom: 25px;
  border: 1px solid $main-color;

  &--submit {
    color: $white;
    background-color: $main-color;
  }

  &--reset {
    background-color: transparent;
  }

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

@media (max-width: $tablet) {
  .filter {
    width: 100%;
    margin-top: 50px;
  }

  .form__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
  }

  .filter__open-btn {
    width: 100%;
    height: 68px;
    visibility: visible;
    background-color: $main-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $white;
  }

  .filter__form {
    z-index: 10;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: $white;
    width: 100vw;
    min-height: 100vh;

    fieldset {
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: $main-color;
      padding: 0;
      width: 100%;
      margin: 0;
    }

    fieldset:last-child {
      border-width: 0;
    }
  }

  .form__wrapper {
    box-shadow: 0 5px 32px $shadow;
    background-color: $white;
    width: 270px;
    margin: 76px auto 60px auto;
    position: relative;
    z-index: 6;
  }

  .filter__close-btn {
    position: absolute;
    right: -10px;
    top: -16px;
    width: 32px;
    height: 32px;
    visibility: visible;
    background-image: url("../img/close-filter.svg");
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (max-width: $mobile) {
  .filter {
    margin-top: 40px;
  }
}
