$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.15);
$black: #1d1613;
$black-footer: #000000;
$gray: #9b9997;
$light: #f0eae4;
$light-gray: #f6f5f4;
$main-color: #a87b62;
$filter: #564034;
$shadow: rgba(219, 213, 208, 0.24);

$tablet: 1023px;
$mobile: 767px;
