@import "global/fonts.scss";
@import "global/variables.scss";
// global
@import "blocks/page.scss";
@import "blocks/header.scss";
@import "blocks/footer.scss";
// catalog
@import "blocks/catalog/filter.scss";
@import "blocks/catalog/catalog.scss";
// main
@import "blocks/main/catalog-slider.scss";
@import "blocks/main/blog.scss";
@import "blocks/main/faq.scss";
@import "blocks/main/gallery.scss";
// element
@import "element/catalog-list.scss";
@import "element/top.scss";
@import "element/section-head.scss";
@import "element/slider.scss";
@import "element/login.scss";
@import "element/conform.scss";

.error-email {
  outline: 4px solid $error;
}

.logo {
  margin: 35px auto -50px;
}

.visibility-mobile {
  height: 0;
  margin: 0;
  padding: 0;
  width: 0;
  visibility: hidden;
  display: inline;
  content: " ";
  clear: none;
}

.menu-js {
  position: fixed;
  min-height: 778px;
  height: 100%;
  overflow: auto;
  width: 100%;
  z-index: 4;
}

.catalog-wrapper {
  max-width: 1170px;
  margin: auto;
  display: grid;
  grid-template-columns: 250px 1fr;
  column-gap: 50px;
  padding-left: 45px;
  padding-right: 45px;
}

.overflow {
  overflow: hidden;
  height: 100%;
}

.visibility-hidden {
  padding: 0;
  width: 0;
  height: 0;
  font-size: 0;
  visibility: hidden;
  pointer-events: none;
  margin: 0;

  > * {
    height: 0;
  }
}

@media (max-width: $tablet) {
  .menu-js {
    height: 100vh;
    min-height: auto;
    overflow-y: scroll;
  }

  .catalog-wrapper {
    grid-template-columns: 1fr;
  }

  .tablet-hidden {
    padding: 0;
    width: 0;
    height: 0;
    font-size: 0;
    visibility: hidden;
    pointer-events: none;
    margin: 0;

    > * {
      height: 0;
    }
  }
}

@media (max-width: $mobile) {
  .visibility-mobile {
    height: auto;
    width: auto;
    visibility: visible;
    display: block;
    content: " ";
    clear: inherit;
  }

  .catalog-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
