.section-head {
  width: 100%;
  text-align: center;

  h2 {
    font-family: "Cormorant Garamond", "Georgia", serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    color: $black;
    margin-bottom: 0;
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $black;
    display: block;
    width: min-content;
    text-decoration: none;
    white-space: nowrap;
    margin: 24px auto 0 auto;
    border-bottom: 1px solid $main-color;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: $tablet) {
  .section-head {
    a {
      margin-top: 20px;
      padding-bottom: 4px;
    }
  }
}
